<html lang="en">
<% include ../partials/head %>
  <body class = "container">
    <header>
      <% include ../partials/header %>
    </header>

    <main>
      <div style="padding:1px 200px;height:1000px;background-color:#8C7AAE">
        <h1>Your Urls</h1>

          <% urls.forEach( urs => { %>
            <p>ID: <%=urs.id%> </p>
            <p>URL: <%=urs.web%></p>
            <ul style= "width: 15.2%">
            <li><a href="/urls/<%=urs.id%>/edit">Edit</a></li>
            <li><a href = "/urls/<%=urs.id%>/delete">Delete</a></li>
            <li><a href = "/urls/<%=urs.id%>/publish">Publish</a></li>
            </ul>
          <% }); %>

      </div>
    </main>
  </body>
</html>