<html lang="en">
<% include ../partials/head %>
<style>
body{
  background-image: url("http://localhost:8080/css/images2.jpg");
  background-repeat: no-repeat;
}
p{
  font-size:2em;
}
</style>
  <body class = "container">
    <header>
      <% include ../partials/header %>
    </header>

    <main>
      <div style="padding:1px 200px;height:1000px;color:white;text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;">
        <h1 style="font-size:5em;">YoUrls</h1>

          <% urls.forEach( urs => { %>
            <p>ID: <%=urs.id%> </p>
            <p>URL: <%=urs.web%></p>
            <ul style= "width: 15.2%">
            <li><a href="/urls/<%=urs.id%>/edit">Edit</a></li>
            <li><a href = "/urls/<%=urs.id%>/delete">Delete</a></li>
            <li><a href = "/urls/<%=urs.id%>/publish">Publish</a></li>
            </ul>
          <% }); %>

      </div>
    </main>
  </body>
</html>